* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#background-image {
  background-image: url("images/image.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vw;
}
.descrip {
  font-size: 4vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.journey-heading {
  font-size: 3vw;
}
.service-img {
  width: 5vw;
  height: 5vw;
}
.services {
  font-size: 1vw;
  padding: 2vw 5vw;
  border-radius: 3vw;
  color: white;
}

.social-media {
  width: 5.5%;
  padding: 1%;
  box-sizing: unset;
}
.social-media1 {
  display: contents;
}
.social-media:hover {
  border-radius: 40px;
  background-color: rgb(128, 102, 102, 0.5);
}
