@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.backgroundImage {
  background: url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
  width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  font-family: "Lato";
  font-size: 1.3vw;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid rgb(255, 0, 0);
  padding: 1.5%;
}
.specialization {
  font-family: montserrat, helvetica neue, Arial, sans-serif;
}
.profile-pic {
  width: 11vw;
  height: 11vw;
  border-radius: 500px;
}
.contactDetails {
  display: flex;
  justify-content: center;
  padding: 2% 0px;
  gap: 4%;
  width: 50%;
}
.social-media {
  width: 5.5%;
  padding: 1%;
  box-sizing: unset;
}
.social-media1 {
  display: contents;
}
.social-media:hover {
  border-radius: 40px;
  background-color: rgb(128, 102, 102, 0.5);
}
a {
  text-decoration: none;
  color: antiquewhite;
}
.about-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  width: 80%;
  gap: 2%;
  background-color: rgb(128, 102, 102, 0.7);
  border: 2px solid rgb(128, 102, 102);
  z-index: 20;
}
.about-me,
.basic-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  padding: 2% 0px;
  gap: 2%;
  font-size: 80%;
  z-index: 20;
}
.basic {
  display: flex;
  gap: 2vw;
}
#navBar {
  display: flex;
  /* border: 2px solid red; */
  background-color: rgb(128, 102, 102);
  width: 100%;
  height: 4vh;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#navBarContent {
  display: flex;
  gap: 5vw;
  list-style: none;
  font-family: "Lato";
  font-size: 1.4vh;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}
#navBarContent li:active {
  border-bottom: 3px solid red;
}
#navBarContent li:hover {
  border-bottom: 3px solid red;
}
.horizontal-bar {
  margin: 2vw auto;
  /* margin-top: 2vw; */
  width: 80%;
  height: 0.5vh;
  border-radius: 5px;
  background-color: #394962;
  border-color: #394962;
}
#skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 1.2vw;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  margin-bottom: 1em;
  gap: 1vw;
  box-sizing: border-box;
}

.skill-bar {
  flex-grow: 1;
  background-color: antiquewhite;
  margin-left: 1vw;
  border-radius: 5px;
  height: 2vw;
}
.skill-level {
  height: 100%;
  background-color: rgb(128, 102, 102);
  border-radius: 5px;
}
.skill-name {
  font-size: 1.6vh;
  font-family: "Lato";
  color: rgb(128, 102, 102);
}
#education,
#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.education-heading {
  font-size: 2.5vw;
  color: rgb(128, 102, 102);
  text-decoration: underline;
  font-family: "Lato";
  padding-bottom: 10px;
}
.education-detail-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
.degree {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 2px solid #000000; */
  background-color: rgb(128, 102, 102);
  color: antiquewhite;
  font-family: "Lato";
  min-width: 25%;
  flex-direction: column;
  font-size: 0.8vw;
  padding: 0px 0.5vw;
  box-shadow: inset 0.5vw 0.5vw rgb(255, 255, 255, 0.1);
}
.education-container {
  border: 0.3vw solid rgb(128, 102, 102);
  display: flex;
  width: 60%;
  margin: 0.4%;
  height: 13vw;
  box-shadow: 0.5vw 0.5vw 10px rgba(0, 0, 0, 0.3),
    inset 0.5vw 0.5vw rgb(255, 255, 255, 0.1);
}
.education-container:hover {
  box-shadow: none;
}
.degree-description {
  display: flex;
  align-content: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9vw;
  padding: 0px 2vw;
  overflow: hidden;
}
.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 50vw;
  /* height: 5vw; */
}

.form-group label {
  margin-bottom: 0.5em;
  font-size: 1.5vh;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 3vh;
  padding: 0.5em;
  box-sizing: border-box;
}
.submit-btn {
  max-width: 30%;
  height: 3vh;
  background-color: rgb(128, 102, 102);
  color: antiquewhite;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5vh;
  font-family: "Lato";
  margin-top: 1em;
  place-self: center;
}
